%div[lyric]
  %p
    %span.artist= link_to h(lyric.artist.name), lyric.artist
    = " - "
    %span.title= link_to h(lyric.title), object_path(lyric)
    /= link_to "[Edit]", edit_object_path(lyric)
    /= link_to "[X]", object_path(lyric), :confirm => 'Really delete #{lyric.title} by #{lyric.artist}?', :method => :delete
