%div[@current_object]
  .information
    %h1
      %span.title= h @current_object.title
      = " - "
      %span.artist= link_to h(@current_object.artist.name), artist_path(@current_object.artist)
    - if @current_object.album
      %h2
        %span.album= link_to h(@current_object.album.title), album_path(@current_object.album)
        %span.year= "(#{h @current_object.year})"
    %br/

  - if @current_object.body
    %p.body
      = strip_tags(@current_object.body).gsub("\n","<br/>")
    

  
#toolbar
  - if @user
    - if @current_object.body.blank? #or @current_object.body.nil?
      = link_to "Scrape PLyrics", :controller => 'lyrics', :action => 'scrape', :id => @current_object.id, :source => 'plyrics'
      |
      = link_to "Scrape AZLyrics", :controller => 'lyrics', :action => 'scrape', :id => @current_object.id, :source => 'plyrics'
      |
    = link_to 'Edit', edit_object_path
    |
    = link_to 'Destroy', object_path, :confirm => 'Really destroy lyric?', :method => :delete
    |
  = link_to 'Back', objects_path
  
- content_for :sidebar do
  - safe_artist = @current_object.artist.name.downcase.gsub(/[^a-zA-Z0-9]/,"")
  - safe_title = @current_object.title.downcase.gsub(/[^a-zA-Z0-9]/,"")
  - if @current_object.album
    - safe_album = @current_object.album.title.downcase.gsub(/[^a-zA-Z0-9]/,"") || "None"
  - cap_artist = @current_object.artist.name.gsub(" ","_").gsub(/[^a-zA-Z0-9\_\(\)]/,"")
  - cap_title = @current_object.title.gsub(" ","_").gsub(/[^a-zA-Z0-9\_\(\)]/,"")

  %h3 See Also:
  = link_to "AZLyrics", "http://www.azlyrics.com/lyrics/#{safe_artist}/#{safe_title}.html"
  %br/
  = link_to "Plyrics", "http://www.plyrics.com/lyrics/#{safe_artist}/#{safe_title}.html"
  - if safe_artist && safe_album && @current_object.track
    %br/
    = link_to "DarkLyrics", "http://darklyrics.com/lyrics/#{safe_artist}/#{safe_album}.html##{@current_object.track}"
  %br/
  = link_to "LyricWiki", "http://lyricwiki.org/#{cap_artist}:#{cap_title}"
