%div[current_object]
  .information
    %h1
      %span.title= h current_object.title
      = " - "
      %span.artist= link_to h(current_object.artist.name), artist_path(current_object.artist)
    - if current_object.album
      %h2
        %span.album= h current_object.album
        %span.year= "(#{h current_object.year})"
    %br/
    = render :partial => 'seealso', :locals => { :safe_artist => @safe_artist, :safe_title => @safe_title }

  - if current_object.body
    %p.body
      = strip_tags(current_object.body).gsub("\n","<br/>")
    

  
#toolbar
  - if @user
    - if current_object.body.blank? #or current_object.body.nil?
      = link_to "Scrape PLyrics", :controller => 'lyrics', :action => 'scrape', :id => current_object.id, :source => 'plyrics'
      |
      = link_to "Scrape AZLyrics", :controller => 'lyrics', :action => 'scrape', :id => current_object.id, :source => 'plyrics'
      |
    = link_to 'Edit', edit_object_path
    |
    = link_to 'Destroy', object_path, :confirm => 'Really destroy lyric?', :method => :delete
    |
  = link_to 'Back', objects_path
