%div[current_object]
  %h1.name= h current_object.name
  - if current_object.genre
    = h current_object.genre

  #listing
    %h2= "Songs by #{h current_object.name}:"
    = render :partial => 'lyrics/lyric', :collection => current_object.lyrics

#toolbar
  - if @user
    = link_to 'Edit', edit_object_path
    |
    = link_to 'Destroy', object_path, :confirm => 'Really destroy lyric?', :method => :delete
    |
  = link_to 'Back', objects_path