!!!

%html
  %head
    %title LyricsYouLove
    = stylesheet_link_tag "reset-fonts-grids", "lyl"
    = javascript_include_tag :defaults
  
  #body
    #doc4.yui-t1
      #hd
        %h1= link_to "LyricsYouLove", "/"
        %h4 Say something meaningful.
      
      #bd
        #yui-main
          .yui-b
            .yui-ge
              %div{ :class => "first yui-u" }
                %h3{:style => 'color:red'}= flash[:message]
                = yield
          
              .yui-u
                %h1 Browse By:
                %ul
                  %li= link_to "Artists", :controller => 'artists', :action => 'index'
                  %li= link_to "Albums", :controller => 'albums', :action => 'index'
                  %li= link_to "Songs", :controller => 'lyrics', :action => 'index'
                  %li= link_to "Tags", "/"
                #sidebar= yield :sidebar
          
        .yui-b
          #user= render :partial => 'application/user'
          #search= render :partial => 'application/search'
          = yield :navigation
          - if @user
            #admin= render :partial => 'application/admin'
      
      #ft All lyrics are copyright their respective artist and are presented here for reference only.
