%html
  %head
    %title Lyrics You Love
    = stylesheet_link_tag "lyl"
  %body
    #header
      %h1 LyricsYouLove
      %h2 Say something meaningful.
  
    #topbar

    #sidebar
      %ul
        %li= link_to "Sign In", :controller => 'sessions', :action => 'new'
        %li= link_to "Sign Out", :controller => 'sessions', :action => 'destroy'
        %li= link_to "Sign Up", :controller => 'users', :action => 'new'

    #content
      = yield

    #footer
      %p All lyrics are copyright their respective artists and are presented here for educational and reference purposes only.
      %p Site design and code are copyright (C) Shane Sveller 2008
